# Music Data Analysis
## Albums & Artists Data Analysis
### James Bond 12/18/2019

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.model_selection import train_test_split

In [39]:
albums = pd.read_csv("./albums.csv")
print(f"Data Shape: {albums.shape}")
print(albums.head())
artists = pd.read_csv("./artists.csv")
print(f"Data Shape: {artists.shape}")
print(artists.head())

Data Shape: (100000, 10)
   id  artist_id                           album_title        genre  \
0   1       1767    Call me Cat Moneyless That Doggies         Folk
1   2      23548                             Down Mare        Metal
2   3      17822                    Embarrassed Hungry       Latino
3   4      19565  Standard Immediate Engineer Slovakia          Pop
4   5      24941              Decent Distance Georgian  Black Metal

   year_of_pub  num_of_tracks  num_of_sales  rolling_stone_critic  mtv_critic  \
0         2006             11        905193                   4.0         1.5
1         2014              7        969122                   3.0         4.0
2         2000             11        522095                   2.5         1.0
3         2017              4        610116                   1.5         2.0
4         2010              8        151111                   4.5         2.5

   music_maniac_critic
0                  3.0
1                  5.0
2                  2.0
3                  4.0
4                  1.0
Data Shape: (50000, 9)
   id        real_name                  art_name          role  year_of_birth  \
0   1    Kameko Nelson                       NaN  female voice           1981
1   2    Sacha Cameron   Bianco Ibureno Chloride        artist           1955
2   3  Thane E. Oliver                       NaN        rapper           1993
3   4   Cole E. Joseph       Persian responsible       bassist           1994
4   5  Sonia U. Jensen  Asleep lonely Big Morgan            DJ           1988

         country                       city  \
0       Slovenia                     Vedrin
1       Guernsey        Montigny-le-Tilleul
2  Guinea-Bissau  Saint-SÃ©bastien-sur-Loire
3        Estonia                    Newquay
4        Vanuatu                    Dudzele

                                        email zip_code
0  lorem.tristique.aliquet@nonummyFusce.co.uk     6914
1                           Sed@elementum.com     0568
2        Integer.tincidunt.aliquam@libero.com   813154
3         nulla.magna.malesuada@vulputate.com  A4S 2B3
4               faucibus@euismodetcommodo.edu    46418

### First five rows of albums data set

In [40]:
albums.head(5)

,id,artist_id,album_title,genre,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic
0,1,1767,Call me Cat Moneyless That Doggies,Folk,2006,11,905193,4.0,1.5,3.0
1,2,23548,Down Mare,Metal,2014,7,969122,3.0,4.0,5.0
2,3,17822,Embarrassed Hungry,Latino,2000,11,522095,2.5,1.0,2.0
3,4,19565,Standard Immediate Engineer Slovakia,Pop,2017,4,610116,1.5,2.0,4.0
4,5,24941,Decent Distance Georgian,Black Metal,2010,8,151111,4.5,2.5,1.0

### First five rows of artists data set

In [41]:
artists.head(5)

,id,real_name,art_name,role,year_of_birth,country,city,email,zip_code
0,1,Kameko Nelson,NaN,female voice,1981,Slovenia,Vedrin,lorem.tristique.aliquet@nonummyFusce.co.uk,6914
1,2,Sacha Cameron,Bianco Ibureno Chloride,artist,1955,Guernsey,Montigny-le-Tilleul,Sed@elementum.com,0568
2,3,Thane E. Oliver,NaN,rapper,1993,Guinea-Bissau,Saint-SÃ©bastien-sur-Loire,Integer.tincidunt.aliquam@libero.com,813154
3,4,Cole E. Joseph,Persian responsible,bassist,1994,Estonia,Newquay,nulla.magna.malesuada@vulputate.com,A4S 2B3
4,5,Sonia U. Jensen,Asleep lonely Big Morgan,DJ,1988,Vanuatu,Dudzele,faucibus@euismodetcommodo.edu,46418

In [42]:
print(albums.describe, artists.describe)

<bound method NDFrame.describe of            id  artist_id                           album_title        genre  \
0           1       1767    Call me Cat Moneyless That Doggies         Folk
1           2      23548                             Down Mare        Metal
2           3      17822                    Embarrassed Hungry       Latino
3           4      19565  Standard Immediate Engineer Slovakia          Pop
4           5      24941              Decent Distance Georgian  Black Metal
...       ...        ...                                   ...          ...
99995   99996      44624     Mike Pies Malay Albanian Terrible     Pop-Rock
99996   99997      16345                                Global        Retro
99997   99998      32674                                  MINI        Indie
99998   99999      10134             Marketing Belligerent Toe          Pop
99999  100000      41286                  Lover Barbie Of Rock         Rock

       year_of_pub  num_of_tracks  num_of_sales  rolling_stone_critic  \
0             2006             11        905193                   4.0
1             2014              7        969122                   3.0
2             2000             11        522095                   2.5
3             2017              4        610116                   1.5
4             2010              8        151111                   4.5
...            ...            ...           ...                   ...
99995         2016              3        871655                   2.5
99996         2013             14        146202                   5.0
99997         2018              4        620452                   2.0
99998         2007              7        643276                   4.0
99999         2014              7        466962                   3.5

       mtv_critic  music_maniac_critic
0             1.5                  3.0
1             4.0                  5.0
2             1.0                  2.0
3             2.0                  4.0
4             2.5                  1.0
...           ...                  ...
99995         1.5                  1.0
99996         2.5                  1.0
99997         4.0                  5.0
99998         1.5                  4.0
99999         4.5                  2.5

[100000 rows x 10 columns]> <bound method NDFrame.describe of           id            real_name                  art_name          role  \
0          1        Kameko Nelson                       NaN  female voice
1          2        Sacha Cameron   Bianco Ibureno Chloride        artist
2          3      Thane E. Oliver                       NaN        rapper
3          4       Cole E. Joseph       Persian responsible       bassist
4          5      Sonia U. Jensen  Asleep lonely Big Morgan            DJ
...      ...                  ...                       ...           ...
49995  49996        Cain G. Estes                  Pakistan   band member
49996  49997  Unity D. Valenzuela             Bislama Brass       drummer
49997  49998         Lamar Porter                   Typical        rapper
49998  49999  Sylvester O. Mccall            Glossy Kyleigh     chorister
49999  50000     Rashad Z. Medina                       NaN        rapper

       year_of_birth           country                       city  \
0               1981          Slovenia                     Vedrin
1               1955          Guernsey        Montigny-le-Tilleul
2               1993     Guinea-Bissau  Saint-SÃ©bastien-sur-Loire
3               1994           Estonia                    Newquay
4               1988           Vanuatu                    Dudzele
...              ...               ...                        ...
49995           1982             Aruba                      Cagli
49996           1956            Canada         Caprino Bergamasco
49997           1990        Bangladesh                  Massarosa
49998           1994             Libya                  Tramutola
49999           1958  Saint BarthÃ©lemy                  Faridabad

                                                   email zip_code
0             lorem.tristique.aliquet@nonummyFusce.co.uk     6914
1                                      Sed@elementum.com     0568
2                   Integer.tincidunt.aliquam@libero.com   813154
3                    nulla.magna.malesuada@vulputate.com  A4S 2B3
4                          faucibus@euismodetcommodo.edu    46418
...                                                  ...      ...
49995                         In@tinciduntduiaugue.co.uk  YW2 0LG
49996  Donec.porttitor.tellus@augueporttitorinterdum.org  6999 YX
49997                     consectetuer.adipiscing@In.com   34-682
49998                                     mi@laoreet.edu    08737
49999                                        eu@morbi.ca    08129

[50000 rows x 9 columns]>

In [43]:
print(albums.info, artists.info)

<bound method DataFrame.info of            id  artist_id                           album_title        genre  \
0           1       1767    Call me Cat Moneyless That Doggies         Folk
1           2      23548                             Down Mare        Metal
2           3      17822                    Embarrassed Hungry       Latino
3           4      19565  Standard Immediate Engineer Slovakia          Pop
4           5      24941              Decent Distance Georgian  Black Metal
...       ...        ...                                   ...          ...
99995   99996      44624     Mike Pies Malay Albanian Terrible     Pop-Rock
99996   99997      16345                                Global        Retro
99997   99998      32674                                  MINI        Indie
99998   99999      10134             Marketing Belligerent Toe          Pop
99999  100000      41286                  Lover Barbie Of Rock         Rock

       year_of_pub  num_of_tracks  num_of_sales  rolling_stone_critic  \
0             2006             11        905193                   4.0
1             2014              7        969122                   3.0
2             2000             11        522095                   2.5
3             2017              4        610116                   1.5
4             2010              8        151111                   4.5
...            ...            ...           ...                   ...
99995         2016              3        871655                   2.5
99996         2013             14        146202                   5.0
99997         2018              4        620452                   2.0
99998         2007              7        643276                   4.0
99999         2014              7        466962                   3.5

       mtv_critic  music_maniac_critic
0             1.5                  3.0
1             4.0                  5.0
2             1.0                  2.0
3             2.0                  4.0
4             2.5                  1.0
...           ...                  ...
99995         1.5                  1.0
99996         2.5                  1.0
99997         4.0                  5.0
99998         1.5                  4.0
99999         4.5                  2.5

[100000 rows x 10 columns]> <bound method DataFrame.info of           id            real_name                  art_name          role  \
0          1        Kameko Nelson                       NaN  female voice
1          2        Sacha Cameron   Bianco Ibureno Chloride        artist
2          3      Thane E. Oliver                       NaN        rapper
3          4       Cole E. Joseph       Persian responsible       bassist
4          5      Sonia U. Jensen  Asleep lonely Big Morgan            DJ
...      ...                  ...                       ...           ...
49995  49996        Cain G. Estes                  Pakistan   band member
49996  49997  Unity D. Valenzuela             Bislama Brass       drummer
49997  49998         Lamar Porter                   Typical        rapper
49998  49999  Sylvester O. Mccall            Glossy Kyleigh     chorister
49999  50000     Rashad Z. Medina                       NaN        rapper

       year_of_birth           country                       city  \
0               1981          Slovenia                     Vedrin
1               1955          Guernsey        Montigny-le-Tilleul
2               1993     Guinea-Bissau  Saint-SÃ©bastien-sur-Loire
3               1994           Estonia                    Newquay
4               1988           Vanuatu                    Dudzele
...              ...               ...                        ...
49995           1982             Aruba                      Cagli
49996           1956            Canada         Caprino Bergamasco
49997           1990        Bangladesh                  Massarosa
49998           1994             Libya                  Tramutola
49999           1958  Saint BarthÃ©lemy                  Faridabad

                                                   email zip_code
0             lorem.tristique.aliquet@nonummyFusce.co.uk     6914
1                                      Sed@elementum.com     0568
2                   Integer.tincidunt.aliquam@libero.com   813154
3                    nulla.magna.malesuada@vulputate.com  A4S 2B3
4                          faucibus@euismodetcommodo.edu    46418
...                                                  ...      ...
49995                         In@tinciduntduiaugue.co.uk  YW2 0LG
49996  Donec.porttitor.tellus@augueporttitorinterdum.org  6999 YX
49997                     consectetuer.adipiscing@In.com   34-682
49998                                     mi@laoreet.edu    08737
49999                                        eu@morbi.ca    08129

[50000 rows x 9 columns]>

In [53]:
X = albums['num_of_sales'].values

In [54]:
X

array([905193, 969122, 522095, ..., 620452, 643276, 466962])

In [55]:
X=X.reshape(-1,1)
X

array([[905193],
       [969122],
       [522095],
       ...,
       [620452],
       [643276],
       [466962]])

In [59]:
sns.set(style="whitegrid")

albums = np.random.RandomState(100)
values = rs.randn(100, 4).cumsum(axis=0)
x = pd.date_range("num_of_sales", periods=100, freq="num_of_sales")
data = pd.DataFrame(values, x, columns=["rolling_stone_critic", "mtv_critic", "music_maniac_critic", "num_of_sales"])
data = data.rolling(7).mean()

ValueError: Invalid frequency: num_of_sales

NameError: name 'num_of_sales' is not defined